@model TagRef.Models.Reference

@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/typeahead.bundle.js"></script>

<script src="~/Scripts/bootstrap-tagsinput.min.js"></script>
@*<script src="~/Scripts/tagsinput.js"></script>*@

<link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="~/Content/typeaheadjs.css" rel="stylesheet" />


<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reference</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="prefetch">
                @Html.EditorFor(model => model.TagsValue, new { htmlAttributes = new { @class = "form-control typeahead", id = "tags", placeholder = "Countries" } })
                @*<input class="typeahead , form-control" id="tags" type="text" placeholder="Countries" value="" name="tags" data-role="tagsinput" >*@
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section scripts
{
    <script>
        $(document).on("keypress", "form", function (event) {
            return event.keyCode != 13;
        });

        $(function () {
            var countries = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                //prefetch: '../countries.json'
                prefetch: {
                    url: "/Home/AllTags",
                    cache: false,
                }
            });
            countries.initialize();

            $('#tags').tagsinput({
                typeaheadjs: {
                    name: 'citynames',
                    source: countries.ttAdapter(),
                }
            });

        })



    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
